{% extends "common/page_base.html" %} {% block content %}
<p><a href="{{ url_for('main.home_page') }}">Home</a> /
    <span>List Of Papers</span>
</p>
<h1>List Of Papers</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>                
                <th>Status</th>
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <td>{{ paper.title }}</td>                
                <td>{{ paper_authors[loop.index0] }}</td>
                <td>{{ paper_status[paper.status] }}</td>
                <td>
                    <a href="/paper/detail/{{ paper.id }}" class="btn btn-primary" type="button">Show details</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}