<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Bundesland <input type="text" class="form-control" placeholder="Wahlkreis" ng-model="searchBundesland">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in bundesland | filter:searchBundesland">
                        <td>
                            <a href="javascript:void(0)" data-ng-click="selectBundesland(item.nr)"> {{item.gebiet}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div class="col-sm-4">
            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Wahlkreis <input type="text" class="form-control" placeholder="Wahlkreis" ng-model="searchWahlkreis">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in wahlkreis | filter:searchWahlkreis">
                        <td>
                            <a href="javascript:void(0)" data-ng-click="selectWahlkreis(item.nr)"> {{item.gebiet}}</a>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div class="col-sm-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Ergebnis <input type="text" class="form-control" placeholder="Wahlkreis" ng-model="searchParty">
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in parties | filter:searchParty" ng-hide="result[item] == 0">
                        <td>
                            {{item}}
                        </td>
                        <td>
                            {{result[item]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    