<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Bundesland</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in bundesland">
                        <td>
                            <a href="javascript:void(0)" data-ng-click="selectBundesland(item.nr)"> {{item.gebiet}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div class="col-sm-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Wahlkreis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in wahlkreis">
                        <td>
                            <a href="javascript:void(0)" data-ng-click="selectWahlkreis(item.nr)"> {{item.gebiet}}</a>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div class="col-sm-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ergebnis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in parties">
                        <td>
                            {{item}}
                        </td>
                        <td>
                            {{result[item]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    