<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <h2>Bundesland</h2>
           <div ng-repeat="item in bundesland">
              <a href="javascript:void(0)" data-ng-click="selectBundesland(item.nr)"> {{item.gebiet}}</a>
            </div>
        </div>
        <div class="col-sm-3">
          <h2>Wahlkreis</h2>
         
        </div>
        <div class="col-sm-3">
          <h2>Ergebnis</h2>
          <div ng-repeat="item in parties">
            {{item}} ({{result[item]}})
          </div>
        </div>
        <div class="col-sm-3">
          <h2>Graph</h2>
            
          </div>
      </div>
    </div>
    <div class="panel-footer text-center">

    </div>
  </div>
</div>
<div class="text-center">

</div>
</div>